/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'tailwindcss';
@use 'roboto-fontface/css/roboto/roboto-fontface.css';
@use 'material-icons';

html,
body {
  height: 100%;
}

html {
  color-scheme: light dark;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: 'Roboto',
      density: 0,
    )
  );

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

body {
  margin: 0;
}

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );
}

.on-primary {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-on-primary),
    )
  );
}
